input {
    outline: none;
}


input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    border: 1px solid #c0301c;
}

body {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    background-image: url(img/BACKGROUND!.png);
    background-size: 100vw 770px;
    width: 100%;
    height: 770px;
}

.header__inner {
    width: 91px;
    height: 23px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu__section {
    list-style: none;
    display: flex;
    width: 416px;
    height: 17px;
}

.menu__section__item {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 15px;
}

.menu__section__item:hover {
    color: #ce5e4f;
}

.menu__section__item:last-child {
    margin-right: 0;
}

.menu {
    width: 540px;
    height: 14px;
    display: flex;
    list-style: none;
    z-index: 10000;
}

.menu__item {
    /* Style for "Home" */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "H, ome" */
    letter-spacing: 0.35px;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    /* Style for "Home" */
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "H, ome" */
    letter-spacing: 0.35px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu__item:hover {
    color: darkorange;
    text-decoration-line: underline;
}

.intro__text {
    width: 581px;
    height: 87px;
    color: #ffffff;
    margin-top: 260px;
    margin-bottom: 50px;
}

.intro__text__suptitle {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.intro__text__subtitle {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.btn {
    /* Style for "Rectangle" */
    width: 180px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.btn:hover {
    border: 2px solid black;
    background: #ffffff;
    color: black;
    font-weight: bold;
}

.section {
    width: 100%;
    max-width: 1600px;
    background: #ffffff;
    margin: 0 auto;
}

.section__suptitle {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.section__line {
    width: 50px;
    height: 2px;
    background-color: #555555;
}

.section__subtitle {
    margin-top: 30px;
    margin-bottom: 70px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section__content {
    display: flex;
    width: 100%;
    max-width: 1600px;
    height: 220px;
    margin-bottom: 100px;
    justify-content: space-between;
    position: relative;
}

.section__content__advantages__item {
    margin-right: 45px;
    height: 220px;
    width: 100%;
    max-width: 505px;
    display: block;
}

.section__content__advantages__item__icon {
    margin-bottom: 30px;
}

.section__content__advantages__item__headline {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.section__content__advantages__item__text {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.section__grayed {
    background: #f8f8f8;
    width: 100%;
    margin: auto;
}

.textblock {
    width: 553px;
    height: 110px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 32px;
    text-align: left;
}

.section__aboutus__text {
    height: 110px;
    width: 1138px;
    display: flex;
    margin-bottom: 70px;
}

.greyed {
    width: 100%;
    height: 100px;
    background: #f8f8f8;
}

.section__gray__suptitle {
    margin-bottom: 30px;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.photocardsblock {
    height: 310px;
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
}

.photocard {
    margin-right: 30px;
    height: 308px;
    width: 263px;
    justify-content: center;
    background: #f8f8f8;
}

.photocard__icon {
    margin-bottom: 20px;
}

.photocard__name {
    margin-bottom: 15px;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.photocard__profession {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.section__content__images {
    width: 1142px;
    height: 1022px;
    display: flex;
    margin-bottom: 100px;
}

.section__images__column {
    width: 361px;
    height: 1022px;
    margin-right: 30px;
}

.section__images__column:last-child {
    margin-right: 0;
}

.section__images__column__item {
    margin-bottom: 30px;
}

.section__images__column__item:last-child {
    margin-bottom: 0;
}

.ad_block {
    height: 369px;
    background-image: url(img/ad/bg.png);
    background-size: 100vw 369px;
}

.ad_block__content__text {
    padding-bottom: 53px;
    width: 100%;
}

.ad_block__content {
    height: 170px;
    width: 460px;
    padding-top: 100px;
}

.ad_block__content__text__textblock {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
}

.blog {
    height: 721px;
    margin-bottom: 101px;

}

.blog__line {
    width: 1140px;
    height: 1px;
    background-color: #dddddd;
    margin: 38px 0px;
}


.blog__item__img {
    width: 460px;
    height: 322px;
    margin-right: 39px;
}


.blog__item {
    display: flex;
    width: 1140px;
}

.blog__item__content__header__dateblock {
    width: 76px;
    height: 76px;
    border: 2px solid #555555;
    color: #777777;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 26px;
}


.blog__item__content__header__dateblock__date__number {
    font-size: 24px;
    letter-spacing: 2.4px;
}

.blog__item__content__header__dateblock__date__month {
    letter-spacing: 1.4px;
}


.blog__item__content__header__dateblock__date {
    width: 32px;
    height: 38px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 17px;
    margin-bottom: 17px;
}


.blog__item__content__text {
    height: 110px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 23px;
}


.blog__item__content__header {
    display: flex;
    height: 76px;
}


.blog__item__content__header__headline {
    height: 45px;
    padding-top: 15px;
}


.blog__item__content__header__headline__text {
    color: #777777;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}



.blog__item__content__header__headline__author {
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    color: #777777;
    text-align: left;
}

.blog__item__content__ad {
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #777777;
    text-align: left;
    margin-top: 34px;
}


.blog__item:hover span {
    color: #c0301c;
}


.holding__logos {
    width: 898px;
    display: flex;
    padding-top: 98px;
    padding-bottom: 68px;
    justify-content: space-between;
}

.holding {
    background: #f8f8f8;
}


.holding__blockquote__text {
    padding-bottom: 44px;
    width: 770px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}


.holding__blockquote {
    height: 109px;
}


.holding__blockquote__author {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}


.blockquote__dots {
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 60px;
}

.blockquote__dots__item {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 7px;
}

.blockquote__dots__item:last-child {
    margin-right: 0;
}


.blockquote__dots__item--red {
    background-color: #c0301c;
    margin-right: 10px;
    border-radius: 7px;
    width: 15px;
    height: 15px;
}




.contacts {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1127px;
    height: 301px;
}


.contacts__info__item__text {
    text-align: left;
}

.contacts__info__item__text__suptitle {
    padding-bottom: 10px;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 14px;
}


.contacts__info__item {
    display: flex;
    margin-bottom: 34px;
}

.contacts__info__item:last-child {
    margin-bottom: 0;
}


.contacts__info__item__text__subtitle {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.contacts__info__item__icon {
    padding-top: 4px;
}


.contacts__info {
    margin-right: 163px;
}


.contacts {
    margin-bottom: 101px;
}



.input__field {
    height: 44px;
    width: 350px;
    border: 1px solid #555555;
    margin-right: 30px;
    padding-left: 17px;
}

.input__field:last-child {
    margin-right: 0;
}


.input__field::-webkit-input-placeholder {
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    color: #555555;
    
}

.input__column {
    margin-bottom: 21px;
    display: flex;
}

.message::-webkit-input-placeholder {
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    color: #555555;
}


.message {
    width: 730px;
    height: 104px;
    padding-left: 17px;
}
